 li {
 color: white;
 list-style: none;
 }

  .nav {
    display:flex ;
    justify-content: space-between;
    padding: 10px;
    background-color:#3BA0CC ;
  }
  
  .menu{
display: flex;
gap: 5px;
  }

  .hero{
    background-color:#3BA0CC ;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
  }

img {
    border-radius: 50%;
}
   

.schools{
    display: flex;
    gap: 20px;
   }